.matchday,
.club-name {
    color: #333;
    font-weight: normal;
    letter-spacing: 1px;
    padding-left: 12px;
    margin-top: 0;
}

.fixtures-table {
    tr {
        height: 2.5em;
    }

    td {
        padding: 5px;
        text-align: center;
    }

    td.score {
        background-color: #444;
        color: $white;
        width: 3em;
    }

    td.club {
        width: 12em;
    }

    td.date {
        color: #aaa;
        width: 5em;
    }
}